body {
    height: 100%;
    border: 2px solid #ffffff20;
}

#guide-content {
    background-color: #181818;
    padding: 4px 16px;
}

.section-content {
    margin-left: 32px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 8px;
}

code {
    white-space: pre;
}