body {
    height: 100%;
    margin: 8px;
    border: 2px solid #ffffff20;
    overflow-y: scroll;
}

main {
    background-color: #181818 !important;
}

#search-form {
    text-align: center;
    margin: 16px auto;
}

#guide-content {
    padding: 4px 16px;
    padding-bottom: 16px;
}

.syntax {
    margin-left: 16px;
}

.section-content {
    margin-left: 16px;
}

.section-title {
    font-size: 14pt;
}

.placeholder {
    background: inherit;
}

.back-button {
    color: #dddddd !important;
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-bottom: 16px;
    padding: 4px 8px !important;
}

.example:not(:last-child) {
    margin-bottom: 16px;
}

.example {
    border: 1px solid #ffffff20;
    padding: 4px 8px;
}

.example details {
    margin-top: 8px;
    user-select: none;
    border: 1px solid transparent;
}

.example details[open] {
    background-color: #181818;
    box-sizing: border-box;
}

.example summary {
    opacity: 0.6;
}

.example details[open] summary {
    padding-bottom: 8px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:not(.back-button):hover {
    text-decoration: underline;
}

code {
    white-space: pre-wrap;
}

.section:not(:first-child) {
    margin-top: 32px;
}