#controls-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 32px;
}

#controls-container>* {
	margin: 0 4px;
}

#controls-container * {
	height: 100% !important;
}

#note-cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 16px 32px;
}

#notes-placeholder {
	opacity: 0.6;
	margin: auto;
}

.note-card {
	position: relative;
	background-color: #3a3a3c;
	border-radius: 4px;
	margin: 16px;
	width: clamp(256px, 24vw, 324px);
	aspect-ratio: 0.9;
	padding: 12px;
	cursor: pointer;
	box-sizing: border-box;
}

.note-title {
	overflow-y: hidden;
	font-size: 16pt;
	border-bottom: 1px solid #ffffff20;
	padding-bottom: 8px;
	text-align: left;
	white-space: nowrap;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.note-card-content {
	height: 100%;
	padding-bottom: 24px;
	box-sizing: border-box;
	overflow: hidden;
	opacity: 0.6;
	transition: opacity 0.2s;
}

.note-card-content code {
	filter: brightness(1.8);
}

.note-card:hover .note-card-content {
	opacity: 1;
}

.note-card .delete-note {
	cursor: pointer;
	border-radius: 4px;
	background-color: #9f2323;
	position: absolute;
	top: -4px;
	right: -4px;
	font-family: 'Courier New', Courier, monospace;
	padding: 0;
	width: 24px;
	font-size: 14pt;
	aspect-ratio: 1;
	font-weight: bold;
	color: #c49b9b;
	opacity: 0;
	outline: 2px solid transparent;
	transition: opacity 0.2s, outline-color 0.2s;
}

.note-card:hover .delete-note {
	opacity: 1;
}

.delete-note:hover {
	opacity: 1 !important;
	outline-color: #ad4e4e;
}

.note-preview {
	height: 100%;
	opacity: 0.6;
	transform: scale(0.75);
	transform-origin: top left;

	/* Increases width to accommodate for the scale transform */
	margin-right: calc(15% * -1);
}