main {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    max-width: 700px;
}

#stats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stat {
    background-color: #181818;
    border: 2px solid #ffffff20;
    width: fit-content;
    min-width: 300px;
    height: 160px;
    margin: 16px;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    vertical-align: middle;
}

.stat h4 {
    flex: 0 0 auto;
    font-size: 14pt;
    text-align: center;
}

.separator {
    border-bottom: 1px solid #ffffff20;
}

.stat-value {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-value span {
    font-size: 32pt;
}